

.loginbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-social>:first-child {
width: 50px;


}

.btn-social {

text-align: center;
}

.socialbtn {
     padding: 14px 20px;
     margin: 10px 8px 4px 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;

}


.formbtn {
    padding: 14px 20px;
     margin: 4px 8px 50px 8px;
    background-color: #FF0000;
     font-size: 15px;
     color: #fff;
}


.socialbtn, .formbtn {
   width : 90%;
   position : relative;
   
}

.signupbnt {
   display: block;
   text-align: center;
}



#loginchar{
   text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
    width : 400px;
}

/* 회원가입 폼 */

input[type=text], input[type=password], input[type=email] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
     height: 48px;
}



#sighupform {
   text-align: center;
}

.signupchar {
   text-align: left;
}

.remember-me {
    float: left;
    padding: 5px 5px;
    margin: 8px 8px 10px 15px;
    font-size: 13px;
}

.sighup {
    float: right;
    padding: 5px 5px;
    margin: 11px 15px 10px 8px;
    font-size: 13px;
}


.naverLogo{
	
background-image: url("/net/resources/images/logo.png");
background-size: cover;

}

.naverlogin{
 background-color!: #1EC800;
}


.naverlogin:hover{color:#fff;background-color:#1BAA25;border-color:rgba(0,0,0,0.2)}

.formbtn:hover{color:#fff;background-color:#FFC000;border-color:rgba(0,0,0,0.2)}


 			@media screen and (max-width: 400px) {
                
                .modal-content{
               
                 width: 100%;  margin: 0; padding: 0;
            

                }
                .modal{
                   padding-top: 0px;
                }
            }
            @media screen and (min-width: 401px) and (max-width: 600px) {
               
                .modal-content{
              
                width: 100%;    margin: 0; padding: 0;
               

                }
                 .modal{
                   padding-top: 0px;
                }
            }
            @media screen and (min-width: 801px) {
                
            }

 .modal_body {width:100%;height:100%;overflow-x:hidden;
                            overflow-y:auto;position:relative;}

.panel-header {
    background-color: rgb(237, 239, 237);
    padding-top: 12px;
    padding-bottom: 12px;
}

.close{
 padding-top: 12px;
padding : 20px 20px 0 10px;

}

.login-devider {
    position: relative;
    height: 40px;
}

.login-devider:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 90%;
    border-top: 1px solid #c5cbd3;
    border-width: 3px; 
    margin: 0 0 0 18px;
}


.login-devider span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42px;
    margin-left: -21px;
    margin-top: -6px;
    color: #434343;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    background: #FFF;
}

.text_notice {

	text-align: left;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    margin: 5px 5px 0 20px;
    color: #f00;
}


.text-danger {
   color: #f00;
   text-align: left;
   margin: 5px 5px 0 20px;
}


