
/*----------------------------------------------------------------------------통합*/

.close {
	padding-top: 5%;
	padding : 20px 20px 0 10px;

}


.formbtn {
	padding: 3%;
	background-color: #FF4040;
	font-size: 1.15em;
	width: 90%;
	padding: 3%;
	margin: 5% 5% 0 5%;
	color: white;
}



.signupbnt {
   display: block;
   text-align: center;
}


.login-modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0, 0, 0); 
	background-color: rgba(0, 0, 0, 0.4); 
}

.login-modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 50%;
	width: 400px;
}


/*--------------------------------------------------------------로그인*/

.btn-social>:first-child {
width: 50px;


}

.btn-social {

text-align: center;
}

.socialbtn {
     padding: 14px 20px;
     margin: 10px 8px 4px 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;

}




.socialbtn, .formbtn {
   width : 90%;
   position : relative;
   
}




.logininputbox {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
     height: 48px;
}



.remember-me {
    float: left;
    padding: 5px 5px;
    margin: 8px 8px 10px 15px;
    font-size: 13px;
}

.sighup {
    float: right;
    padding: 5px 5px;
    margin: 11px 15px 10px 8px;
    font-size: 13px;
}


#naverLogo{
	
background-image: url("/net/resources/images/logo.png");
background-size: cover;

}

.naverlogin{
 background-color: #1EC800;
 color:white;
}


.naverlogin:hover{color:#fff;background-color:#1BAA25;border-color:rgba(0,0,0,0.2)}

.formbtn:hover{color:#fff;background-color:#FFC000;border-color:rgba(0,0,0,0.2)}

	
			 @media screen and (max-width: 400px) {
                
                .login-modal-content{
               
                 width: 100%;  margin: 0; padding: 0;
            

                }
                .login-modal{
                   padding-top: 0px;
                }
             
       		  }
            @media screen and (min-width: 401px) and (max-width: 600px) {
               
                .login-modal-content{
              
                width: 100%;   margin: 0; padding: 0;
               

                }
                 .login-modal{
                   padding-top: 0px;
                }
              
            }
            @media screen and (min-width: 801px) {
                
            }





.login-devider {
    position: relative;
    height: 40px;
}

.login-devider:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 90%;
    border-top: 1px solid #c5cbd3;
    border-width: 3px; 
    margin: 0 0 0 18px;
}


.login-devider span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42px;
    margin-left: -21px;
    margin-top: -6px;
    color: #434343;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    background: #FFF;
}



.text-danger {
   color: #f00;
   text-align: left;
   margin: 5px 5px 0 20px;
}


/*-----------------------------------------------------------------------회원가입*/


#facebooklogo {
	width: 14%;
	line-height: 180%;
}

.btn.btn-block.btn-social.btn-facebook {
	text-align: center;
	margin: 1.5% 5% 1.5% 5%;
	font-weight: bold;
	font-size: 1.15em;
}



.input {
	text-align: center;
}

.signupinput {
	width: 90%;
	height: 100%;
	margin-bottom: 0;
	padding: 1% 1% 1% 1%;
	display: inline-block;
	border: 1px solid #ccc;
	border-bottom: none;
	box-sizing: border-box;
}

/* 마지막 input은 border-bottom 이 생기도록*/
#lastinput {
	border-bottom: 1px solid #ccc;
}



/* 입력input과 경고문구가 뜨는 input창 */

.inputbox, .checkinput {
	width: 100%;
	height: 100%;
	border: none;
}

/* 경고 문구창 뜨기 전에 글자 색*/
.checkinput {
	color: #FFFFFF;
}

/* 경고 문구창이 뜰 때 글자 css*/
.oninput {
	color: #ff0000;
	text-align: left;
}

/* ---또는---*/
.signuphr {
	text-align: center;
	display: inline-block;
	margin: 0;
	padding: 0% 2% 1% 0%;
	width: 42%;
	border-top: solid 1px #CCC;
}

.texthr {
	display: inline-block;
	margin: 0;
}

.separator {
	text-align: center;
	margin: 5%;
}

.hrchar {
	width: 8%;
	display: inline-block;
}


/*성별 선택 라디오 버튼*/

input[type='radio'] {
	display: none;
}

.genderlabel {
	width: 44%;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 2%;
	margin: 0 0 2% 0;
	font-weight: normal;
}

.on {
	/*border : solid 1px ;*/
	border: solid 1px #ff0000;
}


/* 생일 css */

.birth {
	width: 29%;
	border: 1px solid #ccc;
	padding: 1%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	display: inline-block;
}

#birthyn, #birthm, #birthd {
	width: 100%;
	border: none;
}

/* 로그인 하러 가기 */

.login {
	padding: 20px;
}






